
@import url("https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans&display=swap");

$pink: #fe3888;
$primary: $pink;
$link-hover: $pink;

// $family-sans-serif: "Open Sans", sans-serif;
// $family-cursive: "Comfortaa", cursive;

// $font-primary: $family-sans-serif;
// $font-secondary: $family-cursive;

.is-open-sans {
  font-family: 'Open Sans', sans-serif;
}

.is-comfortaa {
  font-family: 'Comfortaa', cursive;
}

.profile-picture {
  justify-content: center;
}

.is-main-text {
  align-self: center
}

.menu-hover {
  text-decoration: none;
  background-image: linear-gradient(#fe3888, #fe3888);
  background-position: 100% 0%;
  background-repeat: no-repeat;
  background-size: 0% 5px;
  transition: background-size .3s;
  &:hover, &:focus {
    background-size: 100% 5px;
  }
}

// @import "../bulma.sass";

.footer {
  padding-bottom: 48px;
}
